
  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Nunito:wght@300;500;600;700;800&family=Poppins:wght@300;500;600;700;800&family=Prosto+One&family=Righteous&family=Roboto:wght@500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&family=Yeon+Sung&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}

html {
    background-color: black;
}

body {
    /* background: linear-gradient(brown,indigo); */
    /* background-color: black; */
    background: url(./images/giphy.gif);
    /* background: url(./images/CBgn.gif); */
    width: 100%;
    overflow-x: hidden;
}

.material-icons {
    font-size: larger !important;
    vertical-align: -4px;
}

main {
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    padding: 20px 4vw;
    justify-content: space-between;
    position: fixed;
    right: 0;
    /* width: 92vw; */
    left: 0;
    top: 0;
    transition: .7s;
    z-index: 6;
}

header h1 {
    display: flex;
    cursor: pointer;
}

header img {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

header button {
    padding: 5px 20px;
    background-color: #a3612c;
    font-size: larger;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 10px 2px rgb(163, 97, 44,0.5);
    cursor: pointer;
    transition: .6s;
}

header button:hover{
    box-shadow: 0px 0px 16px 3px rgb(163, 97, 44,0.9);

}


header ul {
    gap: 20px;
    display: flex;
}

header li {
    display: inline;
    font-size: larger;
}

header a {
    text-decoration: none;
    cursor: pointer;
    transition: .6s;
}

header a:hover {
    color: #a3612c;
}

.hamburger div {
    width: 27px;
    height: 2px;
    background-color: white;
    margin-bottom: 4px;
    display: none;
    transition: .7s;
}

.change .bar1{
    transform: rotate(45deg) translate(5px,11px);
    width: 24px;
    background-color: #a3612c;
}
.change .bar2{
opacity: 0;
}
.change .bar3{
    transform: rotate(-45deg) translate(-2px,-3px);
    width: 24px;
    background-color: #a3612c;
}

.mobile {
    background-color: rgb(163, 97, 44, 0.9);
    position: fixed;
    width: 45%;
    min-width: 200px;
    height: 100%;
    top: 78px;
    padding: 30px 30px;
    display: none;
    z-index: 5;
    transition: .7s;
}

.mobile li {
    margin-bottom: 20px;
    list-style-type: none;
}

.mobile a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    /* font-weight: bold; */
}

.mobile button {
    padding: 5px 20px;
    background-color: #a3612c;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 2px rgb(255, 255, 255,0.4);
    cursor: pointer;
    transition: .6s;
    display: none;
}

.mobile button:hover{
    box-shadow: 0px 0px 16px 3px rgb(255, 255, 255,0.9);

}

.hero {
    text-align: center;
    padding: 0 4vw;
    padding-top: 400px;
    margin-top: 60px;
    margin-bottom: 100px;
    background-image: url(./images/herobg.gif);
    background-size: auto 50%;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero h1 {
    /* font-size: 78px; */
    font-size: clamp(40px, 4vw, 78px);

    /* font-family: 'Prosto One', cursive; */
font-family: 'Ubuntu', sans-serif;
font-weight: 800;
}

.hero p {
    /* font-size: 22px; */
    font-size: clamp(13px, 2.1vw, 26px);

/* font-family: 'Yeon Sung', cursive; */
}

.hero button {
    background-color: #a3612c;
    padding: 12px 18px;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 26px;
    /* font-size: larger; */
    border-radius: 2px;
    border: none;
    /* box-shadow: 1px 1px 10px 2px rgb(163, 97, 44,0.5); */
    cursor: pointer;
    transition: .6s;
}

.hero button:hover{
    box-shadow: 0px 0px 16px 3px rgb(163, 97, 44,0.9);
    transform: scale(1.03);
}

.typical {
    text-align: center;
    margin-bottom: 30px;
    font-size: clamp(30px, 3.5vw, 60px);
font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Yeon Sung', cursive; */

}

.features {
    padding: 0 4vw;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
}

.features div {
    transform: scale(0);
}

.feature {
    /* height: 140px; */
    width: 45%;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(163, 97, 44, 0.4);
    font-size: larger;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgb(163, 97, 44,0.5);
    transition: .7s;
    cursor: pointer;
}

.feature:hover {
    transform: scale(1.05);
    background-color: rgb(163, 97, 44, 1);

}

.feature h1 {
    font-size: clamp(20px, 2.2vw, 30px);
}
.feature p {
    font-size: clamp(14px, 1.7vw, 22px);
    line-height: clamp(20px, 2.8vw, 34px);
}

.roadmaps {
    padding: 0 4vw;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.roadmap {
  
    margin-bottom: 60px;
    
    background-color: rgb(163, 97, 44, 0.9);
    font-size: larger;
    padding: 15px 45px;
    border-radius: 10px;
    border: 2px solid white;
    max-width: 680px;
    transition: .7s;
    
}

.roadmap li{
    margin-left: 22px;
    margin-bottom: 12px;
}

.odd {
    margin-right: 20vw;

}

.even{
  
    margin-left: 20vw;
   
}

.tokenomics {
    text-align: center;
    background-color: black;
    /* background: linear-gradient(black, white, #a3612c); */
}

.tokenomics img {
   width: 100vw;
   max-width: 1200px;
   transition: .7s;
   transform: scale(0);
    /* background: linear-gradient(black, white, black); */
}

.how-to {
    padding: 0 4vw;

}

#buy-list{
    margin: 0 auto;
    padding: 25px 2vw;

}

#buy-list li{
   background-color: rgb(0, 0, 0,0.45);
   padding: 7px 7px;
   border-radius: 3px;
   list-style-type: none;
   margin-left: 0;
} 

#buy-list li::before{
   content: "\26A1";
   margin-right: 4px;
   background-color: yellow;
   padding: 1px 3px;
   border-radius: 3px;
 } 

 #buy-list button{
    background-color: rgb(0, 0, 0);
    padding: 1px 7px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid white;
 } 
 

.faqs {
    padding: 0 4vw;
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
}

.faqs .feature {
    /* background-color: rgb(163, 97, 44, 0.4); */
    background-color: rgb(255, 255, 255, 0.9);
    /* color: rgb(163, 97, 44) !important; */
    box-shadow: 2px 2px 10px 2px rgb(163, 97, 44,0.5);
}

.faqs p, .faqs h1 {
        color: rgb(163, 97, 44);
}

.vert {
    width: 2px;
    height: 60px;
    background-color: white;
    border: none;
    margin: 20px auto;
    display: none;
}

footer {
    display: flex;
    padding: 40px 4vw;
    justify-content: space-between;
    margin-top: 40px;
    background-color: rgb(163, 97, 44, 0.7);
    /* flex-wrap: wrap; */
    gap: 15px;
}

.other {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 75%;
}

footer img {
    height: 170px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 2px rgb(163, 97, 44,1);

}

footer li{
    list-style-type: none;
    font-size: larger;
    margin-bottom: 4px;
}

footer b {
    /* font-size: larger; */
    /* margin-bottom: 170px !important; */
}

@media (max-width: 800px) {

    header {
        font-size: smaller;
    }
    

    .features, .faqs{
        justify-content: center;
    }

    .feature {
        width: 90%;
    }

    .faqs .feature {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .hamburger div {
        display: block;
    }

    .mobile {
        display: block;
    }

    .hero {

        padding-top: 200px;
    }

    .hero button {
        padding: 10px 15px;
        font-size: 15px;
    }
 
    .roadmap {
        font-size: smaller;
    }

    footer img {
        height: 130px;
    }

    footer li{
        font-size: smaller;
    }
    

}

@media (max-width: 600px) {

    
    footer {
        display: block;
        gap: 0;
    }

    .other {
        width: 100%;
    }

    footer img {
        height: 80px;
    }
}

@media (max-width: 480px) {

    header {
        padding: 10px 4vw;
    }

    .mobile {
    top: 48px;
    }

    header h1 {
       font-size: 22px;
    }
    
    header img {
        height: 27px;

    }

    header button{
        display: none;
    }

    .mobile button {
        display: block;
    }
    
    .hero button {
        /* margin-top: 20px; */
    /* margin-left: 0px; */
    display: block;
    margin: 20px auto;

    }

    .roadmaps {
        padding: 0 4vw;
        width: 100%;
        margin: 0 auto;
        /* border: 2px solid red; */
    }
    
    .roadmap {
      width: 100%;
      margin-bottom: 0;
    }
 
    
    .roadmap:nth-child(odd){
        margin-right: 0;
    
    }
    
    .roadmap:nth-child(even){
      margin-left: 0;
       
    }

    .vert {
        display: block;
    }


    .faqs .feature {
        /* height: 60px; */
        overflow: hidden;
    }

    .faqs h1 {
        font-size: 17px;
    }
}